<div class="products-section" data-section="product">
  <div class="products-card-section">
    <div class="title-product">Products</div>
    <div class="products-inner-card-section">

      <div class="products-card" (click)="openDialog('pineapple')">
        <div class="products-inner-card">
          <div class="product-card-header1 text-align-c product-card-header-wrapper"><img src="assets/images/pineapple.png"></div>
          <div class="product-card-body">
            <div class="title-desc-section">
              <div class="title">Pineapple-C Lightening</div>
              <div class="desc">Essence Serum</div>
            </div>
            <div class="price">Rp 235.000</div>
          </div>
        </div>
      </div>

      <div class="products-card" (click)="openDialog('tofu')">
        <div class="products-inner-card">
          <div class="product-card-header2 text-align-c product-card-header-wrapper"><img src="assets/images/tofu.png"></div>
          <div class="product-card-body">
            <div class="title-desc-section">
              <div class="title">Tofu</div>
              <div class="desc">Pudding Mask</div>
            </div>
            <div class="price">Rp 235.000</div>
          </div>
        </div>
      </div>

      <div class="products-card" (click)="openDialog('watermelon1')">
        <div class="products-inner-card">
          <div class="product-card-header3 text-align-c product-card-header-wrapper"><img src="assets/images/watermelon1.png"></div>
          <div class="product-card-body">
            <div class="title-desc-section">
              <div class="title">Watermelon</div>
              <div class="desc">Gel Facial Cleanser</div>
            </div>
            <div class="price">Rp 155.000</div>
          </div>
        </div>
      </div>

      <div class="products-card" (click)="openDialog('watermelon2')">
        <div class="products-inner-card">
          <div class="product-card-header4 text-align-c product-card-header-wrapper"><img src="assets/images/watermelon2.png"></div>
          <div class="product-card-body">
            <div class="title-desc-section">
              <div class="title">Watermelon</div>
              <div class="desc">Jelly Mask</div>
            </div>
            <div class="price">Rp 235.000</div>
          </div>
        </div>
      </div>

      <div class="products-card" (click)="openDialog('watermelon3')">
        <div class="products-inner-card">
          <div class="product-card-header5 text-align-c product-card-header-wrapper"><img src="assets/images/watermelon3.png"></div>
          <div class="product-card-body">
            <div class="title-desc-section">
              <div class="title">Watermelon</div>
              <div class="desc">Sunblock</div>
            </div>
            <div class="price">Rp 215.000</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-modal-detail-product *ngIf="openModalDetail"
  [contentImage]="contentImage"
  (closeDialogResp)="getRespDialog($event)">
</app-modal-detail-product>