<div class="top-header-section">
  <div class="header-section">
    <div class="logo-section">
      <img src="assets/images/logo-kaley.png">
    </div>
    <div class="navigation-section">
      <div class="nav-list">
        <div class="nav-item">About</div>
        <div class="nav-item">Value</div>
        <div class="nav-item">Products</div>
        <div class="nav-item">FAQ</div>
      </div>
      <button class="btn-global whatsapp-section">
        <img class="whatsapp-icon" src="assets/images/wa-icon.png">
        <span class="whatsapp-text">Whatsapp</span>
      </button>
    </div>
  </div>
</div>

<div class="banner-section">
  <div class="banner-left">
    <img class="img-particle-1" src="assets/images/banner-particle-1.png">
    <img class="img-particle-2" src="assets/images/banner-particle-2.png">

    <div class="banner-left-content">
      <div class="ingin-kulit-text">
        Ingin Kulit Lebih Sehat dan Glowing
        dengan Bahan Alami, Aman dan Sudah
        Ber-BPOM? Yuk Scroll Kebawah
      </div>
      <div class="bpom-section">
        <div class="bpom-text">Disertifikasi BPOM</div>
        <div><img src="assets/images/logo-bpom.png"></div>
      </div>
      <button class="btn-global btn-buy-product">
        <span>BELI PRODUK</span>
      </button>
    </div>
  </div>
  <div class="banner-right"></div>
</div>

<div class="about-section">
  <img src="assets/images/about-img.png">
  <div class="text">Berawal dari tahun 2015 silam, owner yang merupakan acne fighter menemukan produk Natural Green berbahan dasar buah dan sayuran organik. Karena menyukai hasilnya dan percaya pada keamanan produknya, di 2018 kami memulai usaha ini agar lebih banyak orang yang bisa menemukan solusi atas permasalahan kulit mereka seperti kami.
    <br><br>Di Tahun 2020, Natural Green melakukan rebranding menjadi KALEY dengan tetap mengusung tema Food-Based Skincare yang menyajikan nutrisi dari bahan alami untuk mempercantik kulit wanita Indonesia karena menurut kami, Beauty is Yummy!</div>
</div>

<div class="values-section">
  <div class="values-card">
    <img src="assets/images/like.png">
    <div class="values-title">Praktis</div>
    <div class="values-desc">Dapatkan beberapa manfaat baik bagi kulitmu dalam satu produk</div>
  </div>
  <div class="values-card">
    <img src="assets/images/shield.png">
    <div class="values-title">Bersertifikasi BPOM</div>
    <div class="values-desc">Skincare berbahan dasar alami dan aman untuk pemakaian jangka panjang</div>
  </div>
  <div class="values-card">
    <img src="assets/images/women.png">
    <div class="values-title">Aman Untuk Ibu Hamil</div>
    <div class="values-desc">Aman untuk ibu hamil dan menyusui yang ingin tampil cantik setiap saat</div>
  </div>
  <div class="values-card">
    <img src="assets/images/skin.png">
    <div class="values-title">Semua Jenis Kulit</div>
    <div class="values-desc">Cocok dipakai oleh pria dan wanita dengan semua jenis kulit termasuk kulit sensitif </div>
  </div>
</div>

<app-product></app-product>

<div class="benefit-section">
  <div class="benefit-card">
    <div class="benefit-card-header">
      <img src="assets/images/free-ongkir-icon.png">
    </div>
    <div class="benefit-card-body">
      <div>Free Ongkir<br>Jabodetabek</div>
    </div>
  </div>
  <div class="benefit-card">
    <div class="benefit-card-header">
      <img src="assets/images/skincare-icon.png">
    </div>
    <div class="benefit-card-body">
      <div>Free Sample<br>Produk</div>
    </div>
  </div>
  <div class="benefit-card">
    <div class="benefit-card-header">
      <img src="assets/images/discount-icon.png">
    </div>
    <div class="benefit-card-body">
      <div>Diskon Setiap<br>Pembelian Produk</div>
    </div>
  </div>
</div>

<div class="testimony-section">
  <div class="title-testimony">Apa kata mereka tentang produk Kaley?</div>
  <div class="testimony-card-section">
    <div class="testimony-card">
      <img src="assets/images/trusted-stamp.png">
      <div class="testimony-name">Ferafitri1</div>
      <div class="testimony-answare">“Top markotop pokoknya. Aku udah mau habis dua botol pake serum nanas ini. 
        Pokoknya apa yang di klaim sama produknya, beneran terbukti deh. Mantul wangi nya enak, mudah di aplikasiin
        ke muka. Cepat nyerap juga jadi nyaman untuk dibawa tidur di malam hari. Loveeeeeeee pokoknyaaa.”</div>
    </div>
    <div class="testimony-card">
      <img src="assets/images/trusted-stamp.png">
      <div class="testimony-name">NadaAlech</div>
      <div class="testimony-answare">“So far ini adalah sleeping mask terbaik yang pernah aku coba. Wanginya enakkkkkkk bangetttttt! 
        Teksturnya thick kayak sleeping mask pada umumnya. Beberapa menit awal pemakaian terasa greasy, tapi setelahnya meresap banget. 
        Nyaman banget dipakai tidur, terutama buat yang kamarnya tanpa AC. Pas bangun, kulit terasa lebih plump, kenyal-kenyal gitu.”</div>
    </div>
    <div class="testimony-card">
      <img src="assets/images/trusted-stamp.png">
      <div class="testimony-name">Evyndacari</div>
      <div class="testimony-answare">“Enak banget bener-bener chalming jerawat dan bruntusan. 
        awal-awal waktu masih bruntusan tuh ada sensasi cekit-cekitnya, 
        tapi pas bruntusannya udah membaik udah nggak cekit-cekit lagi, bener-bener nenangin dan adeeeem. 
        Produk ini cocok banget buat pemalas kayak aku yang masker tinggal ngaduk aja aku males hahahaha.”</div>
    </div>
  </div>
</div>

<div class="faq-section">
  <div class="faq-title">FAQ</div>
  <div class="faq-subtitle">Beberapa pertanyaan yang sering ditanyakan customer</div>
  <div class="faq-accordion-section">

    <div class="faq-accordion-inner">
      <div class="faq-accordion">
        <div class="faq-accordion-head" (click)="onClickFaqHead('3')">
          <div class="text-head">Apakah produk Kaley aman untuk kulit sensitif?</div>
          <div class="arrow-section" [ngClass]="{'arrow-bottom': !faq3, 'arrow-up': faq3}"><img src="assets/images/arrow.png"></div>
        </div>
        <div class="faq-accordion-body" [ngClass]="{'body-notactive': !faq3, 'body-active': faq3}">
          Sangat aman! Produk kami terbuat dari bahan-bahan terbaik yang diformulasikan untuk semua jenis kulit termasuk kulit 
          sensitif sekalipun
        </div>
      </div>

      <div class="faq-accordion">
        <div class="faq-accordion-head" (click)="onClickFaqHead('4')">
          <div class="text-head">Bisakah saya memakai produk ini dengan produk lainnya?</div>
          <div class="arrow-section" [ngClass]="{'arrow-bottom': !faq4, 'arrow-up': faq4}"><img src="assets/images/arrow.png"></div>
        </div>
        <div class="faq-accordion-body" [ngClass]="{'body-notactive': !faq4, 'body-active': faq4}">
          Tentu bisa! Kaley tidak akan membuat kulit 
          ketergantungan dan bisa digunakan berbarengan dengan skincare merk lainnya
        </div>
      </div>

      <div class="faq-accordion">
        <div class="faq-accordion-head" (click)="onClickFaqHead('5')">
          <div class="text-head">Saya tertarik dengan produk ini namun bingung
            produk mana yang cocok untuk saya</div>
          <div class="arrow-section" [ngClass]="{'arrow-bottom': !faq5, 'arrow-up': faq5}"><img src="assets/images/arrow.png"></div>
        </div>
        <div class="faq-accordion-body" [ngClass]="{'body-notactive': !faq5, 'body-active': faq5}">
          Halo! Silahkan hubungi whatsapp kami yaa 😊. Kami dengan senang hati akan 
          membantu memilihkan sesuai dengan kebutuhan kulitmu
        </div>
      </div>

    </div>

    <div class="faq-accordion-inner">

      <div class="faq-accordion">
        <div class="faq-accordion-head" (click)="onClickFaqHead('1')">
          <div class="text-head">Dari manakah pengiriman produk ini? Jasa kirim apa saja yang bisa saya gunakan?</div>
          <div class="arrow-section" [ngClass]="{'arrow-bottom': !faq1, 'arrow-up': faq1}"><img src="assets/images/arrow.png"></div>
        </div>
        <div class="faq-accordion-body" [ngClass]="{'body-notactive': !faq1, 'body-active': faq1}">
          Halo! Pengiriman barang akan dilakukan dari Jakarta 😊 Kami akan mengirimkan produk kalian dengan JNE, 
          JNT Maupun Gojek. Silahkan chat cs kami untuk info lebih lanjut yaa
        </div>
      </div>

      <div class="faq-accordion">
        <div class="faq-accordion-head" (click)="onClickFaqHead('2')">
          <div class="text-head">Mulai usia berapa kita bisa memakai produk ini?</div>
          <div class="arrow-section" [ngClass]="{'arrow-bottom': !faq2, 'arrow-up': faq2}"><img src="assets/images/arrow.png"></div>
        </div>
        <div class="faq-accordion-body" [ngClass]="{'body-notactive': !faq2, 'body-active': faq2}">
          Perawatan wajah baiknya dimulai sejak usia remaja (mulai dari 13th) 
          dimulai dari basic skincare (face wash, pelembab dan sunblock) 
          setiap harinya. Kamu juga bisa memakai masker setiap 2-3x seminggu 
          jika menginginkan kesegaran dan aura lebih cerah pada kulit
        </div>
      </div>

    </div>
  </div>
</div>

<div class="footer-section">
  <ng-container *ngIf="isMobile">
    <div class="footer-right">
      <img src="assets/images/logo-kaley-big.png">
    </div>
    <div class="footer-left">
      <div class="footer-left-text">Biar yakin buat cobain Kaley skincare,<br>coba dulu manfaatnya!</div>
      <button class="btn-global whatsapp-section">
        <img class="whatsapp-icon" src="assets/images/wa-icon.png">
        <div class="whatsapp-text">Whatsapp</div>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="!isMobile">
    <div class="footer-left">
      <div class="footer-left-text">Biar yakin buat cobain Kaley skincare,<br>coba dulu manfaatnya!</div>
      <button class="btn-global whatsapp-section">
        <img class="whatsapp-icon" src="assets/images/wa-icon.png">
        <div class="whatsapp-text">Whatsapp</div>
      </button>
    </div>
    <div class="footer-right">
      <img src="assets/images/logo-kaley-big.png">
    </div>
  </ng-container>
</div>
