/* You can add global styles to this file, and also import other style files */
@import url("./assets/font/font.scss");

html, body {
	padding: 0;
	margin: 0;
	color: #333333;
}

.btn-global {
	box-shadow: unset;
  border-radius: 8px;
	border: none;
	&:focus { outline: unset; }
}

.text-align-c {
	text-align: center;
}

.margin-left-25px {
	margin-left: 25px;
}

.margin-right-25px {
	margin-right: 25px;
}
// ::ng-deep .arrow-left-testimony, .arrow-right-testimony { width: 24px; height: 24px;}